// Font family
$ff-primary: 'Montserrat', sans-serif;
$ff-secondary: 'Trispace', sans-serif;

// Font size
$fs-h1: 2rem;
$fs-h2: 1.6rem;

// Font weight 
$fw-light: 300;
$fw-regular: 400;
$fw-thick: 500;
$fw-bold: 700;  

// Colors
$clr-light: hsl(0, 0%, 94%);
$clr-dark: hsl(253, 60%, 11%);
$clr-accent-main: hsl(289, 74%, 57%);
$clr-accent-warm: hsl(36, 94%, 52%);
$clr-accent-cold: hsl(173, 76%, 62%);
$clr-success: hsl(118, 100%, 35%);
$clr-error: hsl(0, 100%, 37%);

// Border radius
$radius: 0.35rem;

// Spacer
$spc-sm: clamp(0.5rem, 0.4rem + 0.3vw, 1rem);
$spc-md: calc($spc-sm * 2);
$spc-lg: calc($spc-sm * 3);
$spc-xl: calc($spc-sm * 4);

// Box shadow
$bs-item:
  -0.1rem -0.1rem 0.2rem hsla(0, 0%, 30%, 0.5),
  0.1rem 0.1rem 0.2rem hsla(0, 0%, 30%, 0.5),
  0.1rem 0.1rem 0.2rem hsla(0, 0%, 30%, 0.5),
  0.2rem 0.2rem 0.2rem hsla(0, 0%, 30%, 0.5);

$bs-item-hover:
  -0.1rem -0.1rem 0.2rem hsla(0, 0%, 5%, 0.4),
  0.1rem 0.1rem 0.2rem hsla(0, 0%, 5%, 0.4),
  0.2rem 0.2rem 0.2rem hsla(0, 0%, 5%, 0.4),
  0.2rem 0.2rem 0.2rem hsla(0, 0%, 5%, 0.4);

// 3D
$cube-length: 35rem;